<div class="container mx-5 my-5">
  <div class="row row-cols-1  row-cols-lg-4 g-2 mx-sm-2 ">
    <div class="col p-2 ">
      <div class="metro-big chat" routerLink="/promise-verse">
        <div class="icon-chat"></div>
        <span class="label bottom">Promise Verse</span>

      </div>
    </div>

    <div class="col p-2 ">

      <div class="metro-big calendar" routerLink="/contact">
        <div class="icon-store"></div>
        <span class="label bottom">Contact</span>
      </div>
    </div>

    <div class="col p-2 ">
      <div class="metro-big video">
        <div class="icon-video"></div>
        <span class="label bottom">Version 2.0.1 </span>
      </div>
    </div>

    <div class="col p-2">
      <div class="metro-big music games " routerLink='/profile'>
        <div class="icon-music"></div>
        <span class="label bottom">Profile</span>
      </div>
    </div>

  </div>


</div>
