<app-dashboard></app-dashboard>



<div class="container mt-4 ">
  <div class="card mb-3  shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;"
    *ngIf="authService.userData as user">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{
          user.photoURL ? user.photoURL : '/assets/dummy-user.png'
        }}" alt="{{ user.displayName }}" class="img-fluid rounded" alt="profile-pic">
      </div>
      <div class="col-md-8">
        <div class="card-body  text-dark ">
          <h5 class="card-title">{{
            user.displayName ? user.displayName : "Super Admin"
          }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{user.email}}</li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
